#tamanhoBarra{
	padding-right: 250px;
  	padding-left: 250px;
  margin-right: auto;
  margin-left: auto;

}
#color{

background-color: #ffe6e6;


}
#tamanhoColection{
	padding-right: 250px;
  	padding-left: 250px;

}